<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="icon" href="https://i.ibb.co/hBtZmqN/logo1.png" />
  <!--↑載入網頁左上角小圖示-->
  <meta name="description" content="NFT 藝術家交易平台" />
  <!--↑網站描述文字-->
  <meta name="keywords" content="NFT 藝術平台" />
  <!--↑網站關鍵字-->
  <title>
    <%- title %>
  </title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Paytone+One&family=Squada+One&display=swap"
    rel="stylesheet">
  <!-- ↑載入Google Font -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined" rel="stylesheet" />
  <!--↑載入Material Icons -->
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
  <!-- ↑載入swiper -->
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <!-- ↑載入AOS -->
  <link rel="stylesheet" href="./assets/style/all.css" />
</head>

<body class="over-x">


  <nav class="navbar navbar-expand-lg navbar-light bg-info border-bottom p-0">
    <div class="container-fluid container-lg">
      <a class="navbar-brand flex-grow-1 border-end-lg py-4 py-lg-6 me-0" href="index.html">
        <img src="./assets/images/logo.svg" alt="logo">
      </a>
      <!-- 插入手機版 search icon -->
      <div class="d-flex align-self-stretch border-end-lg">
        <form class="nva-form d-flex align-items-center px-3 px-lg-8">
          <input class="d-none d-lg-block form-control bg-info border-0 me-2" type="search" placeholder="搜尋作品名稱、藝術家名稱"
            aria-label="Search">
          <a href="#">
            <i class="fa-solid fa-magnifying-glass text-primary fa-xl"></i>
          </a>
        </form>
        <button class="navbar-toggler border-0 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa-solid fa-bars text-primary fa-xl"></i>
        </button>
      </div>
      <div class="collapse navbar-collapse flex-grow-0 align-self-stretch" id="navbarNav">
        <ul class="navbar-nav bg-secondary bg-lg-info h-lg-100 px-3 px-lg-0 pb-5 pb-lg-0">
          <li class="nav-item">
            <a class="nav-link text-primary text-center fw-bold px-lg-8 border-end-lg border-bottom border-lg-0 h-100 d-lg-flex align-items-lg-center py-5 py-lg-0"
              href="explore.html">探索</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-primary text-center fw-bold px-lg-8 border-end-lg border-bottom border-lg-0 h-100 d-lg-flex align-items-lg-center py-5 py-lg-0"
              href="#">市值</a>
          </li>
          <li class="nav-item d-none d-lg-flex">
            <a class="nav-link text-primary text-center fw-bold px-lg-8 h-100 d-lg-flex align-items-lg-center py-5 py-lg-0"
              href="#" data-bs-toggle="modal" data-bs-target="#walletModal">
              <i class="fa-solid fa-wallet fa-2xl"></i>
            </a>
          </li>
          <li class="nav-item w-100 d-block d-lg-none">
            <a class="nav-link text-secondary text-center fw-bold border bg-danger mt-n-1 py-3" href="#"
              data-bs-toggle="modal" data-bs-target="#walletModal">連結錢包</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <%- contents %>

    <footer class="footer bg-info border-top pt-2 pb-5">
      <p class="copyright notoSans text-s text-center border-top border-4 pt-5">© ART NFT. All Rights Reserved</p>
    </footer>


    <!-- 錢包 Modal -->
    <div class="modal fade" id="walletModal" data-bs-keyboard="false" tabindex="-1"
      aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-fullscreen-lg-down">
        <div class="modal-content">
          <div class="modal-header justify-content-center position-relative">
            <h5 class="modal-title text-l" id="staticBackdropLabel">連結你的錢包</h5>
            <button type="button" class="position-absolute btn-close modal-btn-close text-primary d-block d-lg-none"
              data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <ul class="row modal-body align-content-start list-unstyled mb-0">
            <li class="col-lg-6 mb-2 pe-lg-1">
              <button type="button" class="btn btn-secondary text-start w-100 p-4 border position-relative">
                <img class="modal-logo" src="./assets/images/logo/connect01.png" alt="">
                <span class="text-s text-primary ms-4">MetaMask</span>
              </button>
            </li>
            <li class="col-lg-6 mb-2 ps-lg-1">
              <button type="button" class="btn btn-secondary text-start w-100 p-4 border position-relative">
                <img class="modal-logo" src="./assets/images/logo/connect02.png" alt="">
                <span class="text-s text-primary ms-4">Coinbase Wallet</span>
              </button>
            </li>
            <li class="col-lg-6 mb-2 pe-lg-1">
              <button type="button" class="btn btn-secondary text-start w-100 p-4 border position-relative">
                <img class="modal-logo" src="./assets/images/logo/connect03.png" alt="">
                <span class="text-s text-primary ms-4">WalletConnect</span>
              </button>
            </li>
            <li class="col-lg-6 mb-2 ps-lg-1">
              <button type="button" class="btn btn-secondary text-start w-100 p-4 border position-relative active">
                <img class="modal-logo" src="./assets/images/logo/connect04.png" alt="">
                <span class="text-s text-primary ms-4">Phantom</span>
              </button>
            </li>
            <li class="col-lg-6 mb-2 pe-lg-1">
              <button type="button" class="btn btn-secondary text-start w-100 p-4 border position-relative">
                <img class="modal-logo" src="./assets/images/logo/connect05.png" alt="">
                <span class="text-s text-primary ms-4">Glow</span>
              </button>
            </li>
            <li class="col-lg-6 mb-2 ps-lg-1">
              <button type="button" class="btn btn-secondary text-start w-100 p-4 border position-relative">
                <img class="modal-logo" src="./assets/images/logo/connect06.png" alt="">
                <span class="text-s text-primary ms-4">Fortmatic</span>
              </button>
            </li>
          </ul>
          <div class="modal-footer justify-content-center border-0 pt-2">
            <button type="button" class="btn btn-danger text-m py-2 px-8">連結錢包</button>
          </div>
        </div>
      </div>
    </div>

    <!-- BS5瀑布流 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>
    <!-- swiper -->
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/3cda39ba57.js" crossorigin="anonymous"></script>
    <!-- sweetalert -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
</body>

</html>