.bg-recommend-1 {
  background: url(../images/art01.jpg) center 100% / cover;
  background-repeat: no-repeat;
  height: 500px;
}

.bg-recommend-2 {
  width: 100%;
  height: 340px;
  @include pad {
    height: 100%;
  }
  @include mobile {
    height: 372px;
  }
}

.card-img-group {
  cursor: pointer !important;
  .bg-recommend-3 {
    height: 374px;
    object-position: top;
  }
  &:hover {
    .bg-recommend-3 {
      filter: brightness(0.5);
    }
    .btn-danger {
      display: block !important;
    }
  }
}

.bg-recommend-4 {
  img {
    width: 87px;
    height: 91px;
  }
  &:hover {
    .btn-black {
      display: block !important;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
}
