//自訂網頁文字大小、行高
$font-size-custom: 1rem;
$text-types: (
  xs: $font-size-custom * 0.875,
  // font-siz:14px
  s: $font-size-custom * 1,
  // font-siz:16px
  m: $font-size-custom * 1.125,
  // font-siz:18px
  l: $font-size-custom * 1.25,
  // font-siz:20px
  xl: $font-size-custom * 1.5,
  // font-siz:24px
  2xl: $font-size-custom * 2,
  // font-siz:32px
  3xl: $font-size-custom * 3,
  // font-siz:48px
  4xl: $font-size-custom * 5,
  // font-siz:80px
) !default;

@each $name, $font-size-custom in $text-types {
  .text-#{$name} {
    font-size: $font-size-custom;
  }
}
@include pad {
  @each $name, $font-size-custom in $text-types {
    .text-md-#{$name} {
      font-size: $font-size-custom;
    }
  }
}
@include mobile {
  @each $name, $font-size-custom in $text-types {
    .text-sm-#{$name} {
      font-size: $font-size-custom;
    }
  }
}
