.container {
  max-width: 1297px;
  margin: 0 auto;
  @include pad {
    padding-right: 12px;
    padding-left: 12px;
  }
}
.mt-n-1 {
  margin-top: -1px;
}
.bg-recommend {
  background: url(../images/art01.jpg) center 100% / cover;
  background-repeat: no-repeat;
  height: 500px;
}
.bottom-5 {
  bottom: 24px;
}
.end-5 {
  right: 24px;
}
