.btn-triangle {
  position: relative;
}

.btn-triangle::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  border-left: 16px transparent solid;
  border-bottom: 16px $danger solid;
}
.btn-triangle:hover::after {
  border-bottom: 16px $primary solid;
}

.btn-white {
  background-color: $secondary;
  border: 1px solid $success;
}
.btn-white:hover {
  background-color: $danger;
  color: $secondary;
}

.btn-border:hover {
  background-color: $danger;
  color: $secondary;
  border: 1px solid $primary;
}
