.btn-triangle {
  position: relative;
}

.btn-triangle::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  border-left: 16px transparent solid;
  border-bottom: 16px #e6553b solid;
}
.btn-triangle:hover::after {
  border-bottom: 16px black solid;
}

.btn-white {
  background-color: white;
  border: 1px solid black;
}
.btn-white:hover {
  background-color: #e6553b;
  color: white;
}

.btn-border:hover {
  background-color: #e6553b;
  color: white;
  border: 1px solid black;
}
